@{
    ViewBag.Title = "unofficial Spotify Web Player alpha 0.1";
}

<h2>unofficial Spotify Web Player alpha 0.1</h2>

<h3>Search Song</h3>
    <input type="text" id="txtSongName" />
    <br /><br />
    <input type="submit" id="btnSearch" value="Search song" />
    <br />
    <b>Note:</b> Connection to the internet is required for searching<br />
<h4>Search Result Below</h4>
    <span>
        Click on that song you want to play<br />
    </span>

    <div id="result">
    </div>